@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";

@theme {
  --font-pip: "VT323", monospace;
}

@layer base {
  body {
    font-family: var(--font-pip);
    background-color: #0a0a0a;
    color: #1aff1a;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
